.canvas{
    width:600px;
    height:600px;
    
    border-radius:10px;
    padding: 20px;
    border:2px solid #ECCCB2;
    color:white;
}

.btns{
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: #AAC4FF;
    border-radius: 10px;
    width:300px;
    height:700px;
    margin-top:40px
}
.color-options{
    width:200px;
    height:700px;
    background-color: #AAC4FF;
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    
}
.color-option{
    
    width:50px;
    height:50px;
    cursor:pointer;
    border-radius:50%;
    border:2px solid white;
    transition:transform ease-in-out .3s;
}
.color-option:hover{
    transform:scale(1.2);

}

input#color{
    background-color: #EEF1FF;
}

button,
label{
    all:unset;
    padding:10px 0px;
    text-align:center;
    background-color:#B1B2FF;
    color:#EEF1FF;
    font-weight: 500;
    cursor:pointer;
    border-radius: 10px;
    transition:opacity linear .3s;

}

button:hover{
    opacity:0.85
}

input#text{
    all:unset;
    padding:10px 0px;
    border-radius: 10px;
    font-weight:500;
    text-align:center;
    background-color: white;

}

input#file{
    
    display:none;

}
.container{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.color-tools,
.draw-tools{
    display: flex;
    text-align: center;
    font-weight:800;
    font-size: xx-large;
    color: white;
    padding:20px;


}

.input-color-container {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 40px;
  }
  
  .input-color {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
  }
  
  .input-color-label {
    cursor: pointer;
    text-decoration: underline;
    color: #EEF1FF;
    animation: messageScaleAndColor 1s infinite;
  }
  
  @keyframes messageScaleAndColor {
    0% {
      transform: none;
    }
    50% {
      transform: scale(1.05);
      color: #9BC9F9;
    }
    100% {
      transform: none;
    }
  }


.container_canvas{
    border:2px solid #ECCCB2;
    background-color: white;
    border-radius: 10px;
    width:600px;
    height:600px;
}
#destroy-btn,
#erase-btn{
    padding:10px;
    margin:60px;
    width:200px;
    font-weight:700;
}
.container_brush,.container_shape{
    border:2px solid white;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#brush-value{
    color:white;
    margin-top: 5px;
}

.subheading {
    color:white;
    margin-right: auto;
    margin-left: 20px;
    position: relative;
    top: -8px;
    font-weight: 500;
    background-color:#AAC4FF;
}
